.auth-wrapper {
    background-image: url('/png/blure.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
}

.auth-wrapper__content {
    height: auto;
    padding: 64px 85.5px;
    border-radius: 2px;
    background: #ffffff;
    margin: auto;
}

.auth-wrapper__logo {
    margin-bottom: 48px;
    text-align: center;
}

.auth-logo-mobile {
    display: none;
}

.auth-wrapper__buttons a {
    color: black;
}

.auth-wrapper__buttons {
    display: flex;
    padding-bottom: 24px;
}

.auth-btn {
    flex: 1;
    text-align: center;
    font-size: 16px;
    line-height: 20.8px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-bottom: 1px solid #f0f0f0;
}

a.auth-active {
    color: #2f54eb;
    border-bottom: 1px solid #2f54eb;
}

@media screen and (max-width: 576px) {
    .auth-wrapper__content {
        height: auto;
        padding: 32px 16px;
    }

    .auth-wrapper__logo {
        margin-bottom: 32px;
    }

    .auth-logo_hidden {
        display: none;
    }

    .auth-logo-mobile {
        display: flex;
        margin: auto;
    }
    .auth-btn {
        font-size: 14px;
    }
}
