.success-change-password {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    border-radius: 2px;
    padding: 64px 85.5px 56px;
    align-items: center;
    justify-content: center;
    width: 539px;
    text-align: center;
    gap: 24px;
}
.block-title {
    line-height: 0;
}

.success-change-password .ant-btn.ant-btn-block {
    width: 368px;
}

@media screen and (max-width: 576px) {
    .success-change-password .ant-btn.ant-btn-block {
        width: 296px;
    }

    .success-change-password {
        padding: 32px 16px;
    }
}
