.ant-alert {
    position: relative;
    width: 395px;
    left: 0;
    right: 0;
    margin: auto;
    top: calc(100vh - 250px);
    z-index: 3;
}

@media screen and (max-width: 576px) {
    .alert-wrapper .ant-alert {
        width: 312px;
        top: calc(100vh - 138px);
    }
}
