.aside  {
    padding-top: 30px;
    letter-spacing: 0.2px;
}

.ant-layout
.ant-layout-sider {
    background: #fff;
    border: none;
}

.logo {

    padding-bottom:5px;
    text-align: center;
    background: #fff;

  }

  .logo_large {
    padding-right: 17px;
    padding-top: 14px;
    margin-bottom: 56px;
  }

  .logo_small {
    margin-bottom: 60px;
  }

  .logo_small {
    padding-top: 16px;
  }

.menu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 139px);
  }

  ul.ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 14px;
  }

  ul.ant-menu-vertical .ant-menu-item:not(:last-child) {
    margin-bottom: 14px;
  }

.paddingLeftIcon {
    padding-left: 16px;
}

.icon_exit {
    transform: rotate(180deg);
}

.icon_exit__padding {
    transform: rotate(180deg);
    padding-left: 15px;
    padding-right: 16px;
}

.menu
.divider {
    margin: 0;
}

.menu :last-child {
    margin-top: auto;
}

.aside
ul.ant-menu-vertical,
.aside
ul.ant-menu-inline {
    border-right: none;
}




/* @media (max-width: 400px) {
    .ant-menu-item > span.anticon.ant-menu-item-icon {
        display: none;
    }
    .ant-menu-item > img.anticon.ant-menu-item-icon {
        display: none;
    }

    .ant-menu-item > span.ant-menu-tiFtle-content {
        opacity: 1 !important;
    }

} */

@media (max-width: 600px) {
    .aside {
        display: none;
    }

}
