.card {
    background: #fff;
    flex: 1;
    letter-spacing: 1px;
}

.card .divider {
    margin: 0;
}

.card__title {
    padding: 12px 20px 12px 24px;

    text-align: center;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1px;
}

.card__link {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.card button.ant-btn {
    background-color: transparent;
    border: none;
    color: #2f54eb;
    font-size: 14px;
}

.card button.ant-btn:hover {
    background-color: #fff;
    border: none;
}

@media (max-width: 900px) {
    .card__title {
        text-align: left;
    }
}

@media (max-width: 735px) {
    .card__title {
        text-align: center;
    }
}
