.error-check-email {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    padding: 64px 32px 56px;
    align-items: center;
    justify-content: center;
    width: 539px;
    text-align: center;
    gap: 24px;
}

.error-check-email .icon-error {
    width: 255px;
    height: 294px;
    margin: 0;
}

.error-check-email .ant-btn.ant-btn-block {
    width: 368px;
}

.error-check-email .button {
    font-size: 14px;
}

@media screen and (max-width: 576px) {
    .error-check-email .ant-btn.ant-btn-block {
        width: 296px;
    }
}
