.error-change-password {
    background-image: url('/png/blure.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
}

.error-change-password__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    padding: 64px 85.5px 56px;
    align-items: center;
    justify-content: center;
    width: 539px;
}

.error-change-password .btn-login {
    background: #2f54eb;
    border: 2px solid #2f54eb;
    margin-top: 24px;

    height: 40px;
}

.error-change-password .ant-btn.ant-btn-block {
    width: 368px;
}

.icon-error {
    display: block;
    width: 71px;
    height: 70px;
    margin: 5px;
}

.error-change-password__content .title {
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 130%;
}

@media screen and (max-width: 576px) {
    .error-change-password .ant-btn.ant-btn-block {
        width: 296px;
    }

    .error-change-password__content {
        padding: 32px 16px;
    }
}
