.error-email-no-exist {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    padding: 64px 32px 56px;
    align-items: center;
    justify-content: center;
    width: 539px;
    text-align: center;
    gap: 24px;
}

.error-email-no-exist .ant-btn.ant-btn-block {
    width: 368px;
}

.error-email-no-exist span.ant-typography-secondary {
    display: inline-block;
    width: 70%;
}
/* .error-email-no-exist .subtitle {
    max-width: 370px;
} */

@media screen and (max-width: 576px) {
    .error-email-no-exist span.ant-typography-secondary {
        display: inline-block;
        width: 100%;
    }
}
